<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            height: 100%;
            margin: 0;
        }
        nav {
            background-color: #17141d;
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
        .menu {
            width: 100% !important;
        }
        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        li {
            list-style-type: none;
        }
        a {
            text-decoration: none;
            color: #fff;
        }
    </style>
</head>
<body>
    <nav>
        <div class="menu">
            <ul class="ul">
                <li class="item">
                    <a href="#">Home</a>
                </li>
                <li class="item">
                    <a href="#">About</a>
                </li>
                <li class="item">
                    <a href="#">Gallery</a>
                </li>
                <li class="item">
                    <a href="#">Rishit</a>
                </li>
            </ul>
        </div>
    </nav>
</body>
</html>