<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        @import url('https://db.onlinewebfonts.com/c/6182518f7bc0b240b3a35699686e85d5?family=Mortend');
        body {
            margin: 0;
            padding: 0;
        }
        nav {
            width: 100%;
            height: 13.89vh;
            display: flex;
            flex-direction: row;
            align-items: center;
            /* background: red; */
        }
        nav .nav-content {
            display: flex;
            width: 100%;
            flex-direction: row;
            justify-content: center;
            padding: 15.625vw;
        }

        .nav-links {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 0;
        }

        .nav-links li {
            list-style-type: none;
            color: #FFF;
            font-family: Mortend;
            font-size: 1.667vw;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            cursor: pointer;
        }

        .nav-links li a {
            text-decoration: none;
            color: #FFF;
        }
        
        .nav-links li:hover {
            text-decoration-line: underline;
        }
    </style>
</head>
<body>
    
    <nav>
        <div class="nav-content">
            <ul class="nav-links">
                <li><A href="/">Home</A></li>
                <li><A href="#">Arena</A></li>
                <li><A href="#">Stream</A></li>
                <li><A href="#">Community</A></li>
                <li><A href="#">Bet</A></li>
                <li><A href="/meme">Meme</A></li>
            </ul>
        </div>
    </nav>
    
</body>
</html>