<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arena</title>
    <link rel="stylesheet" href="arena.css">
</head>
<body>
    <%- include('./partials/navbar') %>
   <div class="content">
       <video style="width: 100%;" src="vid.mp4" controls></video>
       <h1 class="title" style="position: absolute; top: 14vh;">Arena</h1>
   </div>
</body>
</html>