<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bet</title>
    <link rel="stylesheet" href="bet.css">
    <link href="https://db.onlinewebfonts.com/c/b6d3c75722af4490900128147524d7d4?family=Facon" rel="stylesheet" type="text/css"/>
</head>
<body>
    <%- include('./partials/navbar') %>
    <div class="container">
        <div class="container2">
            <div class="content">
                <div>
                    <h1>BET YOUR GUT</h1>
                    <p>Click to bet</p>
                </div>
                <div class="cards">
                    <img id="test-img" onclick="" style="margin-right: 2vw;" src="https://media.discordapp.net/attachments/1139581573855969360/1140965102963658792/musk_button.png?width=284&height=418" alt="">
                    <img onclick="" src="https://media.discordapp.net/attachments/1139581573855969360/1140965102640701520/mark_button.png?width=285&height=418" alt="">
                </div>
            </div>
            <div class="content2">
                <img src="https://cdn.discordapp.com/attachments/1080157954570993664/1140970485681762405/image.png" >
                <div id="text" class="text">
                    <p>GGS</p>
                </div>
            </div>
        </div>
    </div>

    <script>
        window.onload = () => {
            const imgHeight = document.getElementById('test-img').height;
            const widthChange = document.getElementById('text');

            widthChange.height = imgHeight;
        }
    </script>
</body>
</html>