<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bet</title>
    <link rel="stylesheet" href="choseMusk.css">
    <link href="https://db.onlinewebfonts.com/c/b6d3c75722af4490900128147524d7d4?family=Facon" rel="stylesheet" type="text/css"/>
</head>
<body>
    <%- include('./partials/navbar') %>
    <div class="container">
        <div class="container2">
            <div class="content">
                <div>
                    <h1 class="title">BET YOUR GUT</h1>
                </div>
                <div class="cards">
                    <img id="test-img" onclick="" src="https://media.discordapp.net/attachments/1139581573855969360/1140965102963658792/musk_button.png?width=284&height=418" alt="">
                    <h1 class="chosen">You chose <span class="elonText">elon musk</span></h1>
                </div>
            </div>
            <div class="content2">
                <img src="https://cdn.discordapp.com/attachments/1080157954570993664/1141028336034914445/image.png" >
                <div class="content3">
                    <div class="container1">
                        <form action="/bet" method="post">
                            <label for="">Amount of coins you would like to bet</label>
                            <input type="number" name="coins" placeholder="XXXX">
                            <button type="submit">Bet Now</button>
                        </form>
                    </div>
                    <div class="containerDoosra">
                        <form action="#">
                            <label class="title1">Buy more coins</label>
                            <label class="title2">Choose the number of coins to be added to your account</label>
                            <div class="grid">
                                <div class="item">100</div>
                                <div class="item">500</div>
                                <div class="item">200</div>
                                <div class="item">1000</div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form action="/create-checkout-session" method="POST">
        <input type="text" name="price">
        <input type="submit" name="" id="">
    </form>
</body>
</html>