<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bet</title>
    <link rel="stylesheet" href="choseMusk.css">
    <link href="https://db.onlinewebfonts.com/c/b6d3c75722af4490900128147524d7d4?family=Facon" rel="stylesheet" type="text/css"/>
</head>
<body>
    <%- include('./partials/navbar') %>
    <div class="container">
        <div class="container2">
            <div class="content">
                <div>
                    <h1 class="title">BET YOUR GUT</h1>
                </div>
                <div class="cards">
                    <img id="test-img" onclick="" src="https://cdn.discordapp.com/attachments/1139581573855969360/1141257756582629477/image.png" alt="">
                    <h1 class="chosen">You chose <span class="elonText">elon musk</span></h1>
                </div>
            </div>
            <div class="content2">
                <img src="https://cdn.discordapp.com/attachments/1080157954570993664/1141028336034914445/image.png" >
                <div class="content3">
                    <div class="container1">
                        <form action="/create-checkout-session" method="post">
                            <label for="">Number of coins you would like to bet</label>
                            <input type="number" name="coins" placeholder="XXXX" min="0">
                            <button type="submit">Bet Now</button>
                        </form>
                    </div>
                    <div class="containerDoosra">
                        <form action="/create-checkout-session" method="post">
                            <button type="submit">Buy More Coins</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>