<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="index.css">
    <style>
        @import url('https://db.onlinewebfonts.com/c/6182518f7bc0b240b3a35699686e85d5?family=Mortend');
        @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
        body {
            margin: 0;
            padding: 0;
        }
        nav {
            width: 100%;
            height: 13.89vh;
            display: flex;
            flex-direction: row;
            align-items: center;
            /* background: red; */
        }
        nav .nav-content {
            display: flex;
            width: 100%;
            flex-direction: row;
            justify-content: center;
            padding: 15.625vw;
        }

        .nav-links {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 0;
            align-items: center;
        }

        .nav-links li {
            list-style-type: none;
            color: #FFF;
            font-family: Mortend;
            font-size: 1vw;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            cursor: pointer;
        }

        .nav-links li a {
            text-decoration: none;
            color: #FFF;
        }
        
        .nav-links li:hover {
            text-decoration-line: underline;
        }
        .coins {
            margin: 0;
            display: flex;
            flex-direction: row;
            /* justify-content: center; */
            border-radius: 21.91px;
            background: radial-gradient(364.51% 127.51% at 21.29% 20.41%, rgba(78, 26, 189, 0.60) 0%, rgba(17, 1, 200, 0.00) 100%);
            backdrop-filter: blur(16.432161331176758px);
            width: 13.283vw;
            height: 2.475vw;
            flex-shrink: 0;
        }
        .coins p {
            display: inline-block;
            margin: 0;
            align-self: center;
            margin-left: 1vw;
            justify-self: left;
            font-size: 1.5em;
            margin-top: 5px;
            /* text-align: center; */
            flex-grow: 1;
        }
        .coins img {
            transform: scale(1.5);
            justify-self: right;
            aspect-ratio: 1;
            width: 3vw;
        }
        .logout {
            border: 2px solid #808080;
            border-radius: 5px;
            padding: 12px;
            color: #fff;
            font-family: Mortend;
            background: transparent;
            cursor: pointer;
        }
    </style>
    <link href="https://db.onlinewebfonts.com/c/b6d3c75722af4490900128147524d7d4?family=Facon" rel="stylesheet" type="text/css"/>
</head>
<body>
    <nav>
        <div class="nav-content">
            <ul class="nav-links">
                <li><A href="/">Home</A></li>
                <li><A href="/arena">Arena</A></li>
                <li><A href="/bet">Bet</A></li>
                <!-- <li><A href="/meme">Meme</A></li> -->
                <li><A href="/pot">Pot</A></li>
                <li><div class="coins"><p><%- amount %></p><img src="https://cdn.discordapp.com/attachments/1080157954570993664/1140986490441179236/image.png" alt=""></div></li>
                <li><form action="/logout" method="post"><button class="logout">Logout</button></form></li>
            </ul>
        </div>
    </nav>

    <div class="home-content">
        <div class="titles">
            <h1 class="title">Bet. Win. Thrive.</h1>
            <h1 class="news">Hello, <%- name %></h1>
            <!-- <div class="names"> -->
                <div class="elon">
                    <h1 class="elon-title">Elon Musk</h1>
                    <a href="https://en.wikipedia.org/wiki/Elon_Musk" target="_blank"><img src="https://media.discordapp.net/attachments/1139581573855969360/1141209328230092965/image.png?width=302&height=115" alt=""></a>
                </div>
                
                <div class="mark">
                    <h1 class="mark-title">Mark Zuckerberg</h1>
                    <a href="https://en.wikipedia.org/wiki/Mark_Zuckerberg" target="_blank"><img src="https://cdn.discordapp.com/attachments/1139581573855969360/1141213165162610708/image.png" alt=""></a>
                </div>
            <!-- </div> -->
        </div>
        <div class="cards">
            <div class="card" onclick="window.location.href='/roll-the-dice'" style="cursor: pointer;">
                <h1>Roll A Dice</h1>
                <img src="https://cdn.discordapp.com/attachments/1080157954570993664/1141351897610059886/image.png" alt="">
            </div>
            <div class="card" onclick="window.location.href='/arena'" style="cursor: pointer;">
                <h1>Arena</h1>
                <img src="https://www.svgrepo.com/show/337610/arena.svg" alt="">
            </div>
            <div class="card" onclick="window.location.href='/spin-the-wheel'" style="cursor: pointer;">
                <h1>Spin the wheel</h1>
                <img src="https://cdn.discordapp.com/attachments/1080157954570993664/1141351790978277457/image.png" alt="">
            </div>
        </div>
    </div>
</body>
</html>
<!-- <form action="/logout" method="POST">
    <button type="submit">Logout</button>
</form>
<form action="/create-checkout-session" method="POST">
    <button type="submit">Pay</button>
</form> -->