<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="index.css">
    <link href="https://db.onlinewebfonts.com/c/b6d3c75722af4490900128147524d7d4?family=Facon" rel="stylesheet" type="text/css"/>
</head>
<body>
    <%- include('./partials/navbar') %>
    <div class="home-content">
        <div class="titles">
            <h1 class="title">Bet. Win. Thrive.</h1>
            <h1 class="news">One liner news.</h1>
            <!-- <div class="names"> -->
                <div class="elon">
                    <h1 class="elon-title">Elon Musk</h1>
                    <img src="https://media.discordapp.net/attachments/1139581573855969360/1141209328230092965/image.png?width=302&height=115" alt="">
                </div>
                
                <div class="mark">
                    <h1 class="mark-title">Mark Zuckerberg</h1>
                    <img src="https://cdn.discordapp.com/attachments/1139581573855969360/1141213165162610708/image.png" alt="">
                </div>
            <!-- </div> -->
        </div>
        <div class="cards">
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
        </div>
    </div>
</body>
</html>
<!-- <form action="/logout" method="POST">
    <button type="submit">Logout</button>
</form>
<form action="/create-checkout-session" method="POST">
    <button type="submit">Pay</button>
</form> -->