<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <%- include('./partials/navbar') %>
    <div class="container">
        <div class="nav2"></div>
        <div class="content">
            <h1 class="greeting">Hey <%= name %></h1>
            <!-- <h1 class="greeting"></h1> -->
            <div class="cards">
                <div class="spin-the-wheel">
                    <div class="items-wheel">
                        <h1>Spin the Wheel</h1>
                        <img src="https://cdn.discordapp.com/attachments/1080157954570993664/1140613395175968900/image.png" alt="">
                    </div>
                </div>
                <div class="quiz">
                    <div class="quiz-content">
                        <h1>Take A Quiz</h1>
                        <img src="https://cdn.discordapp.com/attachments/1080157954570993664/1140625922588950568/image.png" alt="">
                    </div>
                </div>
                <div class="quiz">
                    <div class="quiz-content">
                        <h1>Take A Quiz</h1>
                        <img src="https://cdn.discordapp.com/attachments/1080157954570993664/1140625922588950568/image.png" alt="">
                    </div>
                </div>
                <div class="dice">
                    <div class="dice-content">
                        <h1>Roll A Dice</h1>
                    </div>
                </div>
                <div class="jackpot">
                    <div class="jackpot-content">
                        <h1>Jackpot</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<!-- <form action="/logout" method="POST">
    <button type="submit">Logout</button>
</form>
<form action="/create-checkout-session" method="POST">
    <button type="submit">Pay</button>
</form> -->