<%- include('./partials/navbar') %>

<h1>Hi <%= name %></h1>
<form action="/logout" method="POST">
    <button type="submit">Logout</button>
</form>
<form action="/create-checkout-session" method="POST">
    <button type="submit">Pay</button>
</form>