<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=[device-width], initial-scale=1.0">
    <title>Meme</title>
    <link rel="stylesheet" href="meme.css">
    <link href="https://db.onlinewebfonts.com/c/b6d3c75722af4490900128147524d7d4?family=Facon" rel="stylesheet" type="text/css"/>
</head>
<body>
    <%- include('./partials/navbar') %>

    <div class="content">
        <div class="upper">
            <div class="container">
                <h1 class="title doosra" style="width: 50%;">Meme masterstakers</h1>
                <div class="container2">
                    <div class="card" style="margin-right: -1vw;">
                        <div class="rectangle-blue">
                            <img src="https://cdn.discordapp.com/attachments/1080157954570993664/1140929533848072202/image.png" alt="">
                        </div>
                    </div>
                    <h1 class="title" style="font-size: 7.576vw;">X</h1>
                    <div class="card" style="margin-left: -1vw;">
                        <div class="rectangle-red">
                            <img src="https://cdn.discordapp.com/attachments/1080157954570993664/1140929713079074836/image.png" alt="">
                        </div>
                    </div>
                </div>
                <h1 class="title doosra">leaderboard</h1>
            </div>
        </div>
    </div>

</body>
</html>