<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=[device-width], initial-scale=1.0">
    <title>Meme</title>
    <link rel="stylesheet" href="meme.css">
    <link href="https://db.onlinewebfonts.com/c/b6d3c75722af4490900128147524d7d4?family=Facon" rel="stylesheet" type="text/css"/>
</head>
<body>
    <%- include('./partials/navbar') %>

    <div class="content">
        <div class="upper">
            <div class="rectangle-blue">
                <img src="https://cdn.discordapp.com/attachments/1139581573855969360/1140875004360274001/image.png" alt="">
            </div>
            <div class="card" style="margin-right: -1vw;"></div>
            <h1 class="title">X</h1>
            <div class="card" style="margin-left: -1vw;"></div>
            <div class="rectangle-red">
                <img src="https://cdn.discordapp.com/attachments/1139581573855969360/1140875157850816572/image.png" alt="">
            </div>
        </div>
        <div class="leaderboard">
            <h1 class="title2">leaderboard</h1>
        </div>
    </div>

</body>
</html>