<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pot</title>
    <link rel="stylesheet" href="pot.css">
</head>
<body>
    <%- include('./partials/navbar') %>

    <div class="content">
        <div class="upper">
            <div class="container">
                <div class="container2">
                    <div class="card" style="margin-right: 1vw;">
                        <div class="rectangle-blue">
                            <h2 class="secondary-title">Pot 1 (elon musk):</h2>
                            <h1 class="title"><%- betMusk %></h1>
                        </div>
                    </div>
                    <div class="card" style="margin-left: 1vw;">
                        <div class="rectangle-red">
                            <h2 class="secondary-title">Pot 2 (Mark Zuck.):</h2>
                            <h1 class="title"><%- betZuck %></h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>