<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success!</title>
    <link rel="stylesheet" href="success.css">
</head>
<body>
    <%- include('./partials/navbar') %>
    <div class="container">
        <h1 class="title">
            Thank you for your purchase! 50 coins have been deposited to your account.
        </h1>
    </div>
</body>
</html>