@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    background: #0A0913;
    background-image: url('https://cdn.discordapp.com/attachments/1139581573855969360/1140946342550700032/image.png');
    background-size: cover;
    z-index: inherit;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 79.11vh;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.container2 {
    margin-top: 7vh;
    width: 75%;
    /* height: 100vh; */
    display: flex;
}

.content {
    flex-grow: 1;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.content2 {
    width: 50%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.text {
    /* flex-grow: 1; */
}

.title {
    color: #FFF;
    font-family: Facon;
    font-size: 4.141vw;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

.content p {
    color: #FFF;
    font-family: Montserrat;
    font-size: 1.010vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}
.content2 p {
    margin-top: 1vh;
    color: #FFF;
    font-family: Montserrat;
    font-size: 1.010vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.cards {
    margin-top: 5vh;
    /* gap: 3vw; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards img {
    width: 15.960vw;
    height: 23.485vw;
}

.content2 img {
    /* margin-bottom: 8.5vh; */
}

.text {
    margin-top: 8.6vh;
    border-radius: 21.91px;
    background: radial-gradient(162.69% 74.19% at 40.51% 37.63%, rgba(78, 26, 189, 0.60) 11.73%, rgba(17, 1, 200, 0.00) 100%);
    backdrop-filter: blur(16.432161331176758px);
    height: 23.485vw !important;
}


@media screen and (min-width: 1460px) {
    .chosen {
        width: 50%;
    }
}
@media screen and (max-width: 1460px) {
    .chosen {
        width: 70%;
    }
}

.chosen {
    color: #FFF;
    font-family: Mortend;
    font-size: 2em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

.elonText {
    text-align: center;
    color: #451EE1;
    font-family: Mortend;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.zuckText {
    text-align: center;
    color: #D0355A;
    font-family: Mortend;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}