@import url('https://db.onlinewebfonts.com/c/6182518f7bc0b240b3a35699686e85d5?family=Mortend');
body {
    background: #0A0913;
    background-image: url('https://cdn.discordapp.com/attachments/1139581573855969360/1140859026905763950/image.png');
    background-size: cover;
    z-index: inherit;
}

.home-content {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.names {
    position: absolute;
    top: 50%;
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-between;
    justify-items: center;
    align-self: center;
    align-items: center;
}

.elon {
    position: absolute;
    top: 40%;
    align-self: start;
    margin-left: 5%;
}
.mark {
    position: absolute;
    top: 40%;
    align-self: end;
    margin-right: 5%;
}

.elon-title {
    color: #4BB4FF;
    font-family: Mortend;
    font-size: 1.1em;
    /* width: 150px; */
    font-style: normal;
    font-weight: 100;
    line-height: normal;
}

.mark-title {
    color: #FF4773;
    font-family: Mortend;
    font-size: 1.1em;
    /* width: 150px; */
    font-style: normal;
    font-weight: 100;
    line-height: normal;
}

.elon img {
    width: 140px;
    /* height: 30px; */
}
.mark img {
    margin-left: ;
    width: 160px;
    /* height: 60px; */
}

/* .mark {
    position: absolute;
    top: 40%;
    align-self: end;
    text-align: start;
    width: 239px;
    color: #FF4773;
    font-family: Mortend;
    font-size: 1.1em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
} */

.titles {
    width: 100%;
    align-self: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    width: 70%;
    color: #FFF;
    text-align: center;
    font-family: "Facon";
    font-size: 8.438vw;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0;
    margin-top: 2vw;
}

.news {
    color: #FFF;
    text-align: center;
    font-family: Mortend;
    font-size: 1.667vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.cards {
    display: flex;
    gap: 3vw;
    align-self: center;
    margin-top: 4.219vw;
    margin-bottom: 5vw;
}

.card {
    width: 18.714vw;
    height: 11.354vw;
    flex-shrink: 0;
    border-radius: 21.91px;
    background: radial-gradient(103.57% 91.88% at 71.80% 38.53%, rgba(78, 26, 189, 0.60) 0%, rgba(17, 1, 200, 0.00) 100%);
    backdrop-filter: blur(16.432161331176758px);
}