body {
    background: #0A0913;
    background-image: url('https://cdn.discordapp.com/attachments/1080157954570993664/1140927778020134932/image.png');
    background-size: cover;
    z-index: inherit;
    margin: 0;
    padding: 0;
}

.content {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.upper {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0;
}

.container {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container2 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.upper .doosra {
    align-self: flex-start !important;
    text-align: start;
}

.title {
    color: #FFF;
    text-align: center;
    font-family: "Facon";
    font-size: 4.141vw;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0;
    margin-top: 2vw;
    z-index: 10;
}

.card {
    border-radius: 21.91px;
    background: rgba(39, 34, 90, 0.60);
    backdrop-filter: blur(16.432161331176758px);
    width: 31.094vw;
    height: 35.092vh;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}

.rectangle-blue {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 100%;
}

.rectangle-red {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 100%;
}

.rectangle-blue img, .rectangle-red img {
    height: 5.37vh;
    width: 31.094vw;
    flex-shrink: 0;
    margin: 0;
    justify-self: flex-end;
    /* margin-top: 29.722vh; */
    position: relative;
}



.titles {
    display: flex;
    align-items: flex-start !important;
}

.titles h1 {
    text-align: start !important;
}